body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1C1C1C;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header .logo img {
    max-width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ff4444;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#biografia {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

#biografia img {
    width: 300px;
    border-radius: 50%;
    margin-top: 20px;
}

#logros {
    padding: 20px;
    background-color: #818181;
}

#logros ul {
    list-style-type: square;
    padding-left: 20px;
}

#logros h2 {
    text-align: center;
}

#galeria {
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.galeria img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

footer {
    padding: 20px;
    background-color: #1C1C1C;
    color: #fff;
    text-align: center;
}

.redes-sociales {
    list-style: none;
    padding: 0;
}

.redes-sociales li {
    display: inline;
    margin: 0 10px;
}

.redes-sociales li a {
    color: #ff4444;
    text-decoration: none;
}

.redes-sociales li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header {
        text-align: left;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    #biografia img, .galeria img {
        width: 100%;
        max-width: 300px;
    }
}